@import "tailwindcss";

@layer components{
    .mainpage_list{
        padding: 1rem;
        background-color: burlywood;
        border: 1px;
        border-color: black;
        border-radius: 0.5rem;


    }

}
@layer{
    .title{

        font-size: 1.5rem;
        font-weight: bold;
    }
}
@layer{
    .button{
        background-color:brown;
        color: white;
        padding: 0.8rem;
        border-radius: 1rem;
    }
    .button:hover{
        background-color: black;
    }
}
@layer{
    .grocery_list{
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        border-radius: 1rem;
        gap:1rem;
        padding: 1rem;

    }
}
